$color-primario-verde:rgb(43, 230, 189);
$color-secundario-negro:rgb(24, 23, 23);
$color-terciario-blanco:rgb(255, 255, 255);
$color-alternativo-gris:rgba(66, 66, 66, 0.76);
$color-alternativo-verdeclaro:rgb(163, 245, 220);
$color-alternativo-verdeoscuro:rgb(43, 177, 137);