$color-primario-verde:rgb(14, 185, 148);
$color-secundario-negro:black;
$color-terciario-blanco:rgb(255, 255, 255);
$color-alternativo-gris:rgb(177, 177, 177);
$color-alternativo-verdeclaro:rgb(121, 223, 172);