*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* fondo*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
    
.navbar-brand b{
color: $color-alternativo-gris;

}
.container-fluid{
    color: $color-alternativo-gris;
}
   /* titulo*/
h1 {
    text-align: left;
    color:$color-primario-verde;
    
    
}
/* forma de lista*/
ul li {
    display: inline-block;
    
}
/*texto categorias */
ul li a {
    color: $color-secundario-negro;
    display: block;
    padding: 10px;
    text-decoration: none;
}

   

ul li a:hover{
    background-color:$color-alternativo-verdeclaro;/* color resaltado nav*/ 
}

/* carousel*/ 


  
  .carousel img {
    height: 85vh;
    width: 1540px;
  }
  

@media (max-width: 480px) {
    .yc{
padding-top: 0px;
height: 525px;
width: 725px;

} 

}

.cambiarcarruseltamaño {
    width: 100%;
}

/* comienzo css servicios*/  

.contenedor-de-listas{
    background-color: $color-secundario-negro; 
}
.list1 { 
    width: 100%;
    margin:0%;
    color: $color-terciario-blanco;
}
.list2 { 
    width: 100%;
    margin:0%;
    color: $color-terciario-blanco;
}
.list3 { 
    width: 100%;
    margin:0%;
    color: $color-terciario-blanco;  
}
.list1 i{
    font-size: 40px;
    padding-bottom: 30px;
    color: $color-primario-verde;
 }
 .list2 i{
     font-size: 40px;
     padding-bottom: 30px;
     color: $color-primario-verde;
  }
  .list3 i{
     font-size: 40px;
     padding-bottom: 30px;
     color: $color-primario-verde;
  }
   
 .list1 ol{ 
     list-style: none; 
      
 }
 .list2 ol{ 
     list-style: none; 
       
 }
 .list3 ol{ 
     list-style: none; 
       
 }
 @media (max-width: 767px) {
    .list1{
        flex-direction: column;
        background-color: $color-secundario-negro;
        align-items: center;
        text-align: center;
        padding: 10%;
     }
     .list2{
        flex-direction: column;
        background-color: $color-secundario-negro;
        align-items: center;
        text-align: center;
        padding: 10%;
    }
    .list3{
        display: flex;
        flex-direction: column;
        margin-bottom: 22%; 
        background-color: $color-secundario-negro;
        align-items: center;
        text-align: center;
        padding: 10%;
        padding-bottom: 50px;
        
    }
    }

@media (min-width: 768px) and (max-width: 991px) {
    .contenedor-de-listas{
    display: flex; 
    flex-direction: column;
    background-color: $color-secundario-negro;
    text-align: center;
}
.list1 { 
    font-size: 28px;
    width: 100%;
    
    color: $color-terciario-blanco;
}
.list2 { 
    font-size: 28px;
    width: 100%;
    
    color: $color-terciario-blanco;
}
.list3 { 
    font-size: 28px;
    width: 100%;
    color: $color-terciario-blanco;
}
}

@media (min-width: 992px) {
    .contenedor-de-listas {
        display: flex; 
        background-color: $color-secundario-negro;
        text-align: center; 
    }  
    .list1 { 
        width: 100%;
        margin-right: 50px;
        color: $color-terciario-blanco;
    }
    .list2 { 
        width: 100%;
        margin-right: 50px;
        color: $color-terciario-blanco;
    }
    .list3 { 
        width: 100%;
        margin-right: 50px;
        color: $color-terciario-blanco;
    }
    }




/* comienzo css agencia*/


@media (max-width: 769px) {

.agencia-contenido{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 0%;
    text-align: center;
   }

.agencia-texto{
    padding-top: 7%;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}
}

@media (min-width: 769px) {
       .agen{
            width: 480px;
            padding-left: 3%;   
        }
       .agencia-contenido{
            display: flex;
            padding-top: 10%; 
            height: 100%;
            margin-bottom: 5%;
        } 
        .agencia-texto{
            padding-top: 0%;
            text-align:left;
            margin-left: 3%;
            margin-right: 7%;
        }
    }


/* comienzo css portfolio*/

 .paratamañogrande{
    display: flex;
    padding-bottom: 8%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
 }

@media (max-width: 1640px) {
    .contenido-imagenes{
        display: flex;
        flex-wrap: wrap;
        align-items: center;   
    }
}

@media (max-width: 780px) {
    .contenido-imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;      
    }
}

.contenido-imagenes img{
    max-width:33%;
    
}



@media (max-width: 780px) {
.contenido-imagenes img{
    max-width:100%;
    align-items: center;
    display: flex;
    
}
}

       
/* comienzo css equipo*/


.equipodetrabajo h3 {
    color:$color-alternativo-verdeoscuro;
    }
 .equipodetrabajo p {
      color:$color-secundario-negro;
     }

@media (max-width: 767px) {
    .equipodetrabajo{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .equipodetrabajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .per1{
        width: 550px;
    }
    .per2{
        width: 550px;
    }
    .per3{
        width: 550px;
    }
    
  }
  
  @media (min-width: 992px) {
    .equipodetrabajo {
        justify-content: center;
        display: flex;
        max-width: 100%; 
        margin-bottom: 30%; 
        padding-top: 10%;
        }
        .per1{
            width: 300px;
        }
        .per2{
            width: 300px;
        }
        .per3{
            width: 300px;
        }
        
  }

    
/* comienzo css contacto*/

.contenedorform {
width: 50%;

}
.contenedorform  {
justify-content: center;
align-items: center;
margin: auto;
padding-top: 2%;

}
   
@media (max-width: 768px) {
.contenedorform {
display:block;
    width: 80%;
    padding-top: 10%;

}
}

@media (min-width: 768px) and (max-width: 991px) {
    .contenedorform {
        display:block;
            width: 80%;
            padding-top: 20%;
        
        }
    }

.btn{
background-color:$color-alternativo-verdeclaro;
color: $color-secundario-negro;
}