*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* fondo*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.navbar-brand b{
color: $color-alternativo-gris;
}
.container-fluid{
    color: $color-alternativo-gris;
}
   /* titulo*/
h1 {
    text-align: left;
    color:$color-primario-verde;   
}
/* forma de lista*/
ul li {
    display: inline-block;
    
}
/*texto categorias */

ul li a {
    color: $color-secundario-negro;
    display: block;
    padding: 10px;
    text-decoration: none;
}
ul li a:hover{
    background-color:$color-alternativo-verdeclaro;/* color resaltado nav*/ 
}

/* carousel*/ 

@media (max-width: 767px){
    .carousel img {
        height: 85vh;
        width: 875px;
        } 
}
@media (min-width: 768px) and (max-width: 991px) {
      
        .carousel img {
            height: 88vh;
            width: 1390px;
     } 

}
@media (min-width: 992px){
    .carousel img {
        height: 90vh;
        width: 1900px;
      }
}




/* comienzo css servicios*/  

.contenedor-de-listas{
    background-color: $color-secundario-negro; 
   
}
.contenedor-de-listas h2{
    color: $color-primario-verde;
}
.list1 { 
    width: 100%;
    margin:0%;
    color: $color-terciario-blanco;
}
.list2 { 
    width: 100%;
    margin:0%;
    color: $color-terciario-blanco;
}
.list3 { 
    width: 100%;
    margin:0%;
    color: $color-terciario-blanco;  
}
.list1 i{
    font-size: 40px;
    padding-bottom: 30px;
    color: $color-primario-verde;
 }
 .list2 i{
     font-size: 40px;
     padding-bottom: 30px;
     color: $color-primario-verde;
  }
  .list3 i{
     font-size: 40px;
     padding-bottom: 30px;
     color: $color-primario-verde;
  }
   
 .list1 ol{ 
     list-style: none; 
      
 }
 .list2 ol{ 
     list-style: none; 
       
 }
 .list3 ol{ 
     list-style: none; 
       
 }
 @media (max-width: 767px) {
    .list1{
        flex-direction: column;
        background-color: $color-secundario-negro;
        align-items: center;
        text-align: center;
        padding: 10%;
     }
     .list2{
        flex-direction: column;
        background-color: $color-secundario-negro;
        align-items: center;
        text-align: center;
        padding: 10%;
    }
    .list3{
        display: flex;
        flex-direction: column;
        margin-bottom: 22%; 
        background-color: $color-secundario-negro;
        align-items: center;
        text-align: center;
        padding: 10%;
        padding-bottom: 50px;
        
    }
    }

@media (min-width: 768px) and (max-width: 991px) {
    .contenedor-de-listas{
    display: flex; 
    flex-direction: column;
    background-color: $color-secundario-negro;
    text-align: center;
}
.list1 { 
    font-size: 28px;
    width: 100%;
    
    color: $color-terciario-blanco;
}
.list2 { 
    font-size: 28px;
    width: 100%;
    
    color: $color-terciario-blanco;
}
.list3 { 
    font-size: 28px;
    width: 100%;
    color: $color-terciario-blanco;
    padding-bottom: 50px;
    margin-bottom: 60px;
}
}

@media (min-width: 992px) {
    .contenedor-de-listas {
        display: flex; 
        background-color: $color-secundario-negro;
        text-align: center; 
        
        
    }  
    .list1 { 
        
        width: 100%;
        margin-right: 50px;
        color: $color-terciario-blanco;
    }
    .list2 { 
        width: 100%;
        
        color: $color-terciario-blanco;
    }
    .list3 { 
        width: 100%;
        margin-left: 50px;
        color: $color-terciario-blanco;
        margin-bottom: 20%;
    }
    }




/* comienzo css agencia*/

@media (max-width: 768px) {
.agencia-contenido{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0%;
    text-align: center;
   }
.agencia-texto{
    padding-top: 10%;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 5%;
}
}

@media (min-width: 769px) and (max-width: 991px) {
    .agencia-img{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .agencia-contenido{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 0%;
        text-align: center;
       }
       .agencia-texto{
        padding-top: 10%;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom: 5%;
    }
}

@media (min-width: 992px) {
       .agen{
            width: 480px;
            padding-left: 3%;   
        }
       .agencia-contenido{
            display: flex;
            padding-top: 10%; 
            height: 100%;
            margin-bottom: 5%;
        } 
        .agencia-texto{
            padding-top: 0%;
            text-align:left;
            margin-left: 3%;
            margin-right: 7%;
        }
    }


/* comienzo css portfolio*/
.portfoliocontenido{
    
    width: 100%;
}
.portfoliocontenido img{
    width: 100%;
    padding-bottom: 7%;
}

@media (max-width: 768){
    .galeriaportfolio{
        padding-bottom: 50%;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3%;
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        column-gap: 20px;
        row-gap: 20px;
 

    }
}



@media (min-width: 769px) and (max-width: 991px) {
    .galeriaportfolio{
        
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3%;
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
        column-gap: 20px;
        row-gap: 20px;
 
}
}


@media (min-width: 992px) {
    .galeriaportfolio{
        
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        padding-bottom: 3%;
        padding-top: 3%;
        padding-left: 3%;
        padding-right: 3%;
 
}
}


      
/* comienzo css equipo*/


.equipodetrabajo h3 {
    color:$color-alternativo-verdeoscuro;
    }
 .equipodetrabajo p {
      color:$color-secundario-negro;
     }

@media (max-width: 767px) {
    .equipodetrabajo{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .equipodetrabajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .per1{
        width: 550px;
    }
    .per2{
        width: 550px;
    }
    .per3{
        width: 550px;
    }
    
  }
  
  @media (min-width: 992px) {
    .equipodetrabajo {
        justify-content: center;
        display: flex;
        max-width: 100%; 
        margin-bottom: 30%; 
        padding-top: 5%;
        }
        .per1{
            width: 300px;
        }
        .per2{
            width: 300px;
        }
        .per3{
            width: 300px;
        }
  }
    
/* comienzo css contacto*/
.btn{
    background-color:$color-alternativo-verdeclaro;
    color: $color-secundario-negro;
    }
.contenedorform {
width: 50%;

}
.contenedorform  {
justify-content: center;
align-items: center;
margin: auto;
padding-top: 2%;

}
   
@media (max-width: 768px) {
.contenedorform {
display:block;
    width: 80%;
    padding-top: 10%;

}
}

@media (min-width: 768px) and (max-width: 991px) {
    .contenedorform {
        display:block;
        width: 80%;
        padding-top: 20%;
        }
    }

